body {
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 240px;
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*.page-heading .container .row{
  margin-left: 400px;
}*/
.login {
    color: #BC8353;
    /*background: #eef6f9;*/
    background: 
      -webkit-linear-gradient(to right, #e1ad6f, #F2A23E);
    background: 
      linear-gradient(to right,#e1ad6f, #F2A23E);
    margin: auto;
    box-shadow: 
      0px 2px 10px rgba(0,0,0,0.2), 
      0px 10px 20px rgba(0,0,0,0.3), 
      0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 50px;
  }
  .login .head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login .head img{
    margin-bottom: 10px;
    width: 200px;
  }
  .login .head .company {
    font-size: 2.2em;
  }
  .login .msg {
    text-align: center;
  }
  .login .form input[type=text].text{
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
  }
  .login .form .text::placeholder {
    color: #ffffff;
  }
  .login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-top: 20px;
  }
  .login .form input[type=password].password-login {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .login .form input[type=text].name {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-top: 20px;
  }
  .login .form input[type=tel].phone {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .login .form .name::placeholder {
    color: #ffffff;
  }
  .login .form .phone::placeholder {
    color: #ffffff;
  }
  .login .form .password::placeholder {
    color: #ffffff;
  }
  .login .form .password-login::placeholder {
    color: #ffffff;
  }
  .login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
  }
  .login .form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
  }
  .login .form span{
    text-decoration: none;
    color: white;
    float: right;
  }
  .login .form span a{
    text-decoration: none;
    color: rgb(101, 101, 128);
    float: right;
  }
  footer {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  footer {
    background: rgb(125,90,254);
    background: linear-gradient(132deg, #BC8353 25%, #cd996f 80%);
    text-align: center;
    padding: 25px 0px;
  }
  
  footer p {
    color: #fff;
  }
  
  footer p a {
    color: #fff;
    font-weight: 500;
    transition: all .3s;
  }
  
  footer p a:hover {
    color: #BC8353;
    opacity: 0.75;
  }